<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="alert alert-danger">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</div>

<h1>Prefeitura Municipal de João Pessoa</h1>
<h2>Nome: {{funcionario.nome}}</h2>
<h3>Mat: {{funcionario.matricula}}</h3>



<table>
	<thead>
		<th>Dia</th>
		<th>Assinatura</th>
		<th>Entrada</th>
		<th>Saída</th>
	</thead>

	<tbody>
		{% for dia, informacao in calendario.items() %}
			<tr>
				<td>{{dia}}</td>
				<td>{{informacao}}</td>
				{% if informacao %}
					<td>----</td>
					<td>----</td>
				{% else %}
					<td></td>
					<td></td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>