<h1>Olá primeiro template</h1>

<style>
	table {
		width: 100%;
	}
	
	td {
		border: 1px solid #ccc;
	}
</style>

{% if funcionario %}
	<p>Matrícula: {{funcionario.matricula}}</p>
	<p>Nome: {{funcionario.nome}}</p>
	<p>{{funcionario.setor}}</p>
	<p>{{funcionario.cargo}}</p>
{% endif %}

<table>
	<thead>
		<th>Dia</th>
		<th>Assinatura</th>
		<th>Entrada</th>
		<th>Saída</th>
	</thead>

	<tbody>

		{% for dia, informacao in calendario.items() %}
			<tr>
				<td>{{dia}}</td>
				<td>{{informacao}}</td>
				<td>08:00</td>
				<td>14:00</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
